$white : #fff;
$black: #1a1a1a;
$blue: #686DCD;
$lightBlue: #7a80ee;
$semiBlue: rgba(104, 109, 205, 0.67);
$orange: #FF6F61; 

@font-face {
    font-family: "EquinoxBold";
    src: url("../../public/Webfonts/EquinoxBold.woff") format("woff"),
}
@font-face {
    font-family: "EquinoxRegular";
    src: url("../../public/Webfonts/EquinoxRegular.woff") format("woff"),
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("../../public/Webfonts/Poppins-Medium.ttf") format("truetype"),
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("../../public/Webfonts/Poppins-Regular.ttf") format("truetype"),
}
@font-face {
    font-family: "Poppins-Light";
    src: url("../../public/Webfonts/Poppins-Light.ttf") format("truetype"),
}
.fontPoppins{
    font-family: "Poppins-Medium" !important;
}
.fontHelvetica{
    font-family: "Helvetica";
}
.fontEquinox{
    font-family: "EquinoxRegular" !important;
}
.fontEquinoxBold{
    font-family: "EquinoxBold" !important;
}
.textCenter{
    text-align: center;
}
h1{
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 36px;
    font-family: EquinoxRegular;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: -10px;
        height: 3px;
        width: 0;
        border-radius: 10px;
        transform: rotate(180deg);
        transition: width 3000ms ease-out;
        background: linear-gradient(90deg, $orange 0%, rgba(196, 196, 196, 0) 100%);
    }
}
h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}
p{
    font-weight: 200;
    text-transform: initial;
    font-size: 16px;
    line-height: 1.3rem;
    color: rgb(216, 216, 216);
    // font-family: "Poppins-Light";
}
body{
    min-width: 100vw;
    min-height: 100vh;
}
.orange{
    color: $orange !important;
}
.blue{
    color: $blue !important;
}
.none{
    display: none !important;
}
.mb-1{
    margin-bottom: 0.5rem !important;
}
.mb-2{
    margin-bottom: 1rem !important;
}
.mb-3{
    margin-bottom: 2rem !important;
}
.mb-4{
    margin-bottom: 3rem !important;
}
.mb-5{
    margin-bottom: 8rem !important;
}

.mr-1{
    margin-right: 0.5rem !important;
}
.mr-2{
    margin-right: 1rem !important;
}
.mr-3{
    margin-right: 2rem !important;
}
.mr-4{
    margin-right: 3rem !important;
}

.ml-1{
    margin-left: 0.5rem !important;
}
.ml-2{
    margin-left: 1rem !important;
}
.ml-3{
    margin-left: 2rem !important;
}
.ml-4{
    margin-left: 3rem !important;
}

.mt-1{
    margin-top: 0.5rem !important;
}
.mt-2{
    margin-top: 1rem !important;
}
.mt-3{
    margin-top: 2rem !important;
}
.mt-4{
    margin-top: 3rem !important;
}
.mt-5{
    margin-top: 8rem !important;
}

.pt-1{
    padding-top: 0.5rem !important;
}
.pt-2{
    padding-top: 1rem !important;
}
.pt-3{
    padding-top: 2rem !important;
}
.pt-4{
    padding-top: 3rem !important;
}

.pb-1{
    padding-bottom: 0.5rem !important;
}
.pb-2{
    padding-bottom: 1rem !important;
}
.pb-3{
    padding-bottom: 2rem !important;
}
.pb-4{
    padding-bottom: 3rem !important;
}
.bold{
    font-weight: bold;
}
.regular{
    font-weight: 300;
}
.blue{
    color: $blue;
}
.white{
    color: $white;
}
.orange{
    color: $orange;
}
.customScrollBar{
    overflow-x: hidden !important;
    /* width */
    &::-webkit-scrollbar {
        width: 0px;
    }
  
    /* Track */
    // &::-webkit-scrollbar-track {
    //     background-color: $black !important;   
    //     border: none !important;
    //     border-radius: 5px;
    // }
    
    // /* Handle */
    // &::-webkit-scrollbar-thumb {
    //     width: 4px;
    //     position: relative;
    //     left: 1px;
    //     margin-left: 1px;
    //     background-color: $semiBlue !important;
    //     border: none !important;
    // }
    
    // /* Handle on hover */
    // &::-webkit-scrollbar-thumb:hover {
    //     background: #ff6f61; 
    // }
}
*::selection {
    background: $semiBlue;
    color: $orange;
}
.hideScrollBar{
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
      
    /* Hide scrollbar for IE, Edge and Firefox */
    &{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
@keyframes smoothFloat {
	0% {
		transform: translatey(0px) scale(1);
	}
	50% {
		transform: translatey(-10px) scale(0.95);
	}
	100% {
		transform: translatey(0px) scale(1);
	}
}
@keyframes float {
	0% {
		transform: translatey(0px) scale(1);
	}
	50% {
		transform: translatey(-20px) scale(0.98);
	}
	100% {
		transform: translatey(0px) scale(1);
	}
}