$white : #fff;
$black: #1a1a1a;
$blue: #686DCD;
$semiBlue: rgba(104, 109, 205, 0.67);
$orange: #FF6F61; 
@font-face {
    font-family: "EquinoxBold";
    src: url("../../public/Webfonts/EquinoxBold.woff") format("woff"),
}
@font-face {
    font-family: "EquinoxRegular";
    src: url("../../public/Webfonts/EquinoxRegular.woff") format("woff"),
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("../../public/Webfonts/Poppins-Medium.ttf") format("truetype"),
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("../../public/Webfonts/Poppins-Regular.ttf") format("truetype"),
}
@font-face {
    font-family: "Poppins-Light";
    src: url("../../public/Webfonts/Poppins-Light.ttf") format("truetype"),
}
.fontPoppins{
    font-family: "Poppins-Regular" !important;
}
.fontPoppins{
    font-family: "Poppins-Medium" !important;
}
.fontHelvetica{
    font-family: "Helvetica";
}
.fontEquinox{
    font-family: "EquinoxRegular" !important;
}
.fontEquinoxBold{
    font-family: "EquinoxBold" !important;
}
h1{
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 36px;
    font-family: EquinoxRegular;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: -10px;
        height: 3px;
        width: 0;
        border-radius: 10px;
        transform: rotate(180deg);
        transition: width 3000ms ease-out;
        background: linear-gradient(90deg, $orange 0%, rgba(196, 196, 196, 0) 100%);
    }
}
h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}
p{
    font-weight: 200;
    text-transform: initial;
    font-size: 12px;
    line-height: 1.3rem;
    color: rgb(216, 216, 216);
    // font-family: "Poppins-Light";
}
body{
    min-width: 100vw;
    min-height: 100vh;
}
.orange{
    color: $orange !important;
}
.blue{
    color: $blue !important;
}
.none{
    display: none !important;
}
.mt-5{
    margin-top: 1.5rem;
}
.mr-5{
    margin-right: 1.5rem;
}
.mb-5{
    margin-bottom: 1.5rem;
}
.ml-5{
    margin-left: 1.5rem;
}
.bold{
    font-weight: bold;
}
.regular{
    font-weight: 300;
}
.blue{
    color: $blue;
}
.white{
    color: $white;
}
.orange{
    color: $orange;
}
.customScrollBar{
    overflow-x: hidden !important;
    /* width */
    &::-webkit-scrollbar {
        width: 6px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
        background-color: $black !important;   
        border: none !important;
        border-radius: 5px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        width: 4px;
        position: relative;
        left: 1px;
        margin-left: 1px;
        background-color: $semiBlue !important;
        border: none !important;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #ff6f61; 
    }
}
*::selection {
    background: $semiBlue;
    color: $orange;
}
