@import "./_variables";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    color: $white;
    font-family: "EquinoxRegular";
}
body{
    cursor: none !important;
    -webkit-overflow-scrolling: auto;
    overflow: hidden;
    position: relative;
    &.pageActive::before{
        content: '';
        position: absolute;
        left: 0;top: 0;right: 0;bottom: 0;
        background-color: #000000;
        opacity: 0.2;
        pointer-events: none;
        z-index: 100;
    }
}
#app{
    width: 100%;
    height: 100%;
}
a{
    cursor: none !important;
    &:hover{
        cursor: none !important;
    }
}
.rounded{
    pointer-events: none;
    position: fixed;
    width: 35px;
    height: 35px;
    z-index: 10000;
    border-radius: 50px;
    border: 2px solid #fff;
    transition: 100ms linear;
    -webkit-transition: 100ms linear;
    transition-property: height, width, border;
    &.transition{
        transition-property: height, width, border, transform;
    }
    
    &::before{
        content: '';
        position: absolute;
        transition: 300ms ease;
        transition-property: height, width, background-color;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.1);
        width: 35px;
        height: 35px;
        backdrop-filter: blur(1px);
        border-radius: 50px;
    }
}
.cursorPoint{
    transition: 300ms ease;
    transition-property: height, width, background-color;
    background-color: #fff;
    height: 20px;
    width: 20px;
    pointer-events: none;
    position: fixed;
    z-index: 10010;
    border-radius: 50px;
    mix-blend-mode: difference;
}
//If cursor hover an link
.rounded.cursor, .rounded.cursorMenu{
    border-color: $orange;
    width: 50px;
    height: 50px;
    &::before{
        content: '';
        width: 50px;
        height: 50px;
        background-color: rgba(255, 110, 97, 0.1);
    }
}
.cursorPoint.cursor, .cursorPoint.cursorMenu{
    background-color: $orange;
    width: 30px;
    height: 30px;
}
.webgl{
    position: fixed;
    z-index: -1;
    left: 0;
    display: block;
    top: 0;
    width: 100vw ;
    height: 100vh ;
}
.scrollBar{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 6px;
    max-height: 500px;
    min-height: 500px;
    border-radius: 10px;
    background-color: $black;
    span{
        background-color: $blue;
        border-radius: 10px;
        position: absolute;
        top: 5px;
        margin-left: 2px;
        height: 50px;
        width: 2px;
    }
}
.flex{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}
.refill{
    background-color: $orange;
    color: #fff;
    width: fit-content;
    border-radius: 5px;
    opacity: 0;
    pointer-events: all;
    padding: 0.1rem 0.5rem;
    transition: 300ms ease;
    transition-property: opacity, visibility;
    margin-left: 10px;
    font-size: 14px;
    letter-spacing: 0.1rem;
}
.show{
    visibility: visible !important;
    opacity: 1 !important;
}
.container .article{
    @extend .hideScrollBar;
}
.auto{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: calc(100vh - 140px);
    padding-top: 100px;
    padding-bottom: 150px;
}
.transform > div.article:first-of-type .auto{
    padding-top: 0;
}
.transform > div.article:last-of-type .auto{
    padding: 0;
    padding-top: 100px;
}
.container h1{
    width: fit-content;
    margin-right: auto;
}
.article{
    padding-top: 100px;
    padding-bottom: 150px;
    visibility: hidden;
    opacity: 0;
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    overflow: scroll;
    transition: 1000ms ease;
    transition-property: opacity, visibility;
    a{
        color: $orange;
        font-family: 'EquinoxBold';
    }
    h2{
        transform-origin: left;
    }
    img{
        max-width: 90%;
        width: auto;
        animation: smoothFloat 10s ease-in-out infinite;
    }
    video{
        width: 90%;
    }
    p{
        letter-spacing: 0.1rem;
        font-size: 14px;
        font-family: 'EquinoxBold';
        span:not(.fontPoppins){
            color: $orange;
        }
    }
    .skill{
        display: grid;
        row-gap: 40px;
        column-gap: 10px;
        grid-template-columns: repeat(5, 1fr);
        justify-items: left;
        img{
            height: 45px;
            max-width: none;
        }
        > img:nth-child(1){
            animation: smoothFloat 20s ease-in-out infinite;
        }
        > img:nth-child(2){
            animation: smoothFloat 19s ease-in-out infinite;
        }
        > img:nth-child(3){
            animation: smoothFloat 18s ease-in-out infinite;
        }
        > img:nth-child(4){
            animation: smoothFloat 17s ease-in-out infinite;
        }
        > img:nth-child(5){
            animation: smoothFloat 16s ease-in-out infinite;
        }
        > img:nth-child(6){
            animation: smoothFloat 20s ease-in-out infinite;
        }
        > img:nth-child(7){
            animation: smoothFloat 19s ease-in-out infinite;
        }
        > img:nth-child(8){
            animation: smoothFloat 18s ease-in-out infinite;
        }
        > img:nth-child(9){
            animation: smoothFloat 17s ease-in-out infinite;
        }
        > img:nth-child(10){
            animation: smoothFloat 16s ease-in-out infinite;
        }
        > img:nth-child(11){
            animation: smoothFloat 20s ease-in-out infinite;
        }
        > img:nth-child(10){
            animation: smoothFloat 19s ease-in-out infinite;
        }
    }
    .tech{
        @extend .mb-3;
        img{
            animation: none;
            padding-right: 20px;
            height: 30px;
        }
    }
}
.homeOverlay{
    width: 90vw;
    margin: auto;
    pointer-events: none;
    padding-top: 0;
    opacity: 1;
    position: relative;
    height: 100vh;
    z-index: 10;
    transition: 300ms ease;
    transition-property: opacity;
    max-width: 3500px;
    .head{
        display: flex;
        visibility: hidden;
        justify-content: space-between;
        padding-top: 50px;
        & > div{
            transition: 300ms ease;
            transition-property: opacity;
            opacity: 0;
        }
        h1{
            font-size: 36px;
            font-weight: 100;
            margin-bottom: 5px;
            letter-spacing: 0.2rem;
        }
        h2{
            color: $orange;
            font-weight: normal;
            font-size: 14px;
            font-family: EquinoxRegular;
        }
        p{
            font-size: 26px;
            font-weight: 100;
            span{
                font-weight: normal;
                font-size: 36px;
                color: $orange;
            }
        }
    }
    
    .bottom{
        position: absolute;
        width: 100%;
        bottom: 20px;
        max-width: 3500px;
        display: flex;
        justify-content: flex-end;
        & > div{
            visibility: hidden;
            margin-bottom: 0px;
            pointer-events: all;
            transition: 300ms ease;
            transition-property: opacity;
            opacity: 0;
        }
    }
}
.absolute{
    position: absolute;
    top: -25px;
    display: flex;
    width: 100vw;
    z-index: 5;
    pointer-events: none;
    left: 0;
    height: 100vh;
    padding-top: 0;
    .oxy{
        margin: auto;
        margin-top: auto ;
        margin-bottom: 0;
        opacity: 0;
        width: 90vw;
        h3{
            font-size: 14px;
            color: #ffffffa8;
            font-weight: normal;
        }
        .maskOxy{
            width: 200px;
            height: 15px;
            background: linear-gradient(270deg, rgba(51, 51, 51, 0.585) 10%, rgba(0, 0, 0, 0.4) 100%);
            border-radius: 10px;
            div{
                width: 100%;
                height: 15px;
                background: linear-gradient(270deg, $blue 0%, rgba(104, 109, 205, 0.2) 100%);
                border-radius: 10px;
                transition: 100ms ease;
                transition-property: width;
                span{
                    font-size: 11px;
                    color: #ffffffa8;
                    display: block;
                    padding-left: 10px;
                    font-weight: bold;
                    transform: translateY(1px);
                }
            }
        }
    }
}
.remove{
    opacity: 0 !important;
    pointer-events: none !important;
}
.menu{
    position: absolute;
    left: 80px;
    z-index: 100;
    top: 30px;
    display: flex;
    align-items: center;
    hr{
        height: 1px;
        border: none;
        opacity: 1;
        width: 175px;
        margin: 0 20px;
        background-color: $orange;
    }
    p{
        @extend .fontEquinox;
        color: $orange;
        font-weight: normal;
        font-size: 14px;
        margin-right: 25px;
        letter-spacing: 0.1rem;
    }
    .back{
        p{
            @extend .fontEquinoxBold;
            margin-right: 0;
            span{
                color: $orange;
                font-size: 20px;
                transform: translateY(2px);
                display: inline-block;
            }
        }
    }
}
.visited{
    opacity: 0.3;
    pointer-events: none;
}
.cloud{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    .container{
        max-height: calc(100% - 100px);
        position: relative;
        margin-left: 100px;
        top: 100px;
        width: 650px;
        overflow: hidden;
        padding-left: 30px;
    }
}

.galaxy{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    margin-left: auto;
    visibility: hidden;
    .container{
        max-height: calc(100% - 100px);
        position: relative;
        margin-left: auto;
        top: 100px;
        width: 650px;
        padding-right: 30px;
        margin-right: 100px;
        overflow: hidden;
        h1::before{
            background: linear-gradient(270deg, $orange 0%, rgba(196, 196, 196, 0) 100%);
        }
        .scrollBar{
            right: -20px;
        }
    }
}
.asteroid{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    .container{
        max-height: calc(100% - 100px);
        position: relative;
        margin-left: 100px;
        top: 100px;
        width: 650px;
        padding-left: 30px;
        overflow: hidden;
    }
}
.transform{
    transition: transform 500ms ease;
    transform: translateY(0);
}
body section.showPage{
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    &::before{
        transform: translateX(0);
    }
}
body section.showPage{
    h1::before{
        width: 100%;
    }
}
    body section.galaxy.showPage{
        h1{
            &::before{
                transform: rotate(0);
            }
        }
    &::before{
        right: 0;
    }
}
.blackScreen{
    position: absolute;
    left: 0;right: 0;bottom: 0;top: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 1;
    transition: 3000ms ease;
    transition-property: opacity;
    pointer-events: none;
    opacity: 0;
}
.article-1{
    img{
        margin-right: 100px;
    }
}
.loadingScreen{
    position: absolute;
    left: 0;right: 0;bottom: 0;top: 0;
    opacity: 1;
    pointer-events: all;
    transition: 300ms ease;
    transition-property: opacity;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* dev */
    // display: none;
    /* end */
    z-index: 5;
    .intro{
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        > p{
            opacity: 0;
            transition: 1000ms ease;
            transition-property: opacity;
            margin-bottom: 15px;
            font-weight: 100;
            font-size: 14px;
            font-family: "EquinoxRegular";
            letter-spacing: 0.1rem;
        }

    }
    .content{
        transition: 300ms ease;
        transition-property: opacity;
        margin-top: 20px;
        p{
            color: $blue;
            padding: 10px 0;
            letter-spacing: 0.2rem;
            @extend .fontEquinox;
            span{
                @extend .fontHelvetica;
                color: $blue;
            }
        }
    }
    .showPercent{
        text-align: right;
    }
    .loadingBar{
        width: 700px;
        height: 5px;
        border-radius: 10px;
        position: relative;
        background: #fff;
        .progress{
            background: $blue;
            width: 100%;
            height: 5px;
            border-radius: 10px;
            position: absolute;
            left: 0;
            top: 0;
        }
        .maskSpan{
            background: $black;
            position: absolute;
            width: 100%;
            transform: scaleX(1);
            transition: transform 1.5s ease-in-out;
            transform-origin: right;
            height: 5px;
            z-index: 1;
            border-radius: 10px;
            right: 0;
            top: 0;
        }
    }
}

/* Button animation */
/*--Global Styles--*/
@import url('https://fonts.googleapis.com/css?family=Fjalla+One'); 

body {
  background-color: #ff8a80;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*--Button Styles--*/
.homeButton{
    opacity: 0;
    visibility: hidden;
    max-width: 350px;
    margin: auto;
    margin-top: 30px;
}
.btn-slice {
  padding: 1.2rem 2.5rem;
  border: 2px solid #ffffff;
  border-radius: 0rem;
  color: #ffffff;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  position: relative;
    display: block;

  -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}

.btn-slice .top  {
  position: relative;
  height: 6px;
  overflow: hidden;
  top: 0;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
  
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s;
}

.btn-slice .bottom  {
  position: relative;
  height: 6px;
  overflow: hidden;
  bottom: 0;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
  
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s;
}

.btn-slice .bottom span {
  top: -6px;
  position: absolute;
  left: 0;
}

.btn-slice:hover .top {
  top: -5px;
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s; 
}

.btn-slice:hover .bottom {
  bottom: -5px;
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s; 
}
.btn-slice:hover, .btn-slice:focus, .btn-slice:active {
  margin-left: 10px;
}
.btn-slice:before{
  content: '';
  height: 1px;
  pointer-events: none;
  width: 60px;
  background-color: #ffffff;
  position: absolute;
  margin-top: 6px;
  right: -35px;
  
  -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}
.btn-slice:hover:before{
  width: 130%;
}
/* End */


/* Arrow animate */
@import url('https://fonts.googleapis.com/css?family=Oswald');

.link {
    $self: &;
    opacity: 1;
    transition: all 300ms ease;
    position: absolute;
    right: 750px;
    top: 50%;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    min-width: 160px;
    text-decoration: none;
    transform: rotate(-90deg) translate3d(-50%, 0, 0);

  &__arrow {
    display: inline-flex;
        span {
            position: relative;
            width: 14px;
            height: 2px;
            border-radius: 2px;
            overflow: hidden;
            background: #BEBDBE;
            z-index: 2;
      &:nth-child(1) {
        transform-origin: left bottom;
        transform: rotate(45deg) translate3d(8px, -10px, 0);
      }

      &:nth-child(2) {
        transform-origin: left bottom;
        transform: rotate(-45deg);
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 2px;
        background: $blue;
      }
    }
  }

  &__line {
    position: relative;
    margin-left: -14px;
    margin-right: 30px;
    width: 150px;
    height: 2px;
    background: #BEBDBE;
    overflow: hidden;
    z-index: 1;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 80px;
      width: 70px;
      height: 2px;
      background: $blue;
    }
  }

  &__text {
    color: $blue;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: absolute;
    left: 100%;
    width: fit-content;
    white-space: nowrap;
  }

  &{
    #{$self} {
      &__line {
        &:after {
          animation: animation-line 6s infinite ease-in-out;
        }
      }

      &__arrow {
        span {
          &:after {
            animation: animation-arrow 6s infinite ease-in-out;
          }
        }
      }
    }
  }
}

.asteroid, .cloud{
    .link{
        left: 750px;
        right: auto;
    }
}
/* End */

@keyframes animation-line {
  0% {
    left: 80px;
  }

  100% {
    left: 0;
  }
}

@keyframes animation-arrow {
  0%, 60% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
/* End */
@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    .homeOverlay .bottom, .absolute{
        transform: translateY(80px);
    }
    .webgl{
        height: calc(100vh + 120px) !important;
    }
}

@media (max-width: 1500px) {
    .article{
        padding-top: 50px;
    }
}
@media (max-width: 1300px) {
    .menu{
        left: 30px;
    }
    .link__text{
        font-size: 12px;
    }
    .article{
        padding-top: 0px;
    }
    .menu {
        p{
            font-size: 12px;
        }
        hr{
            width: 60px;
        }
    }
    .article{
        .mb-4{
            margin-bottom: 2rem !important;
        }
        .mb-3{
            margin-bottom: 1.5rem !important;
        }
        .mb-2{
            margin-bottom: 1rem !important;
        }
        .mt-4{
            margin-top: 2rem !important;
        }
        .mt-3{
            margin-top: 1.5rem !important;
        }
        .mt-2{
            margin-top: 1rem !important;
        }
    }
    h1{
        font-size: 22px;
        margin-bottom: 40px;
    }
    h2{
        font-size: 20px;
    }
}
@media (max-width: 1100px) {
    .galaxy img{
        margin-right: 0;
    }
    .galaxy .container{
        margin-right: 0 !important;
    }
    .cloud .container, .asteroid .container{
        margin-left: 0 !important;
    }
    .link{
        right: 600px;
    }
    .asteroid .link, .cloud .link{
        left: 600px;
    }
}
@media (max-width: 960px) {
    .link{
        display: none;
    }
    .rounded{
        display: none;
    }
    body{
        cursor: initial !important;
        a:hover{
            cursor: pointer !important;
        }
    }
    .cloud, .asteroid, .galaxy{
        .container{
            width: 400px;
        }
        .link{
            top: 60%;
        }
    }
    .asteroid, .cloud{
        .link{
            right: 20px;
            left: auto; 
        }
    }
    .galaxy{
        .link{
            left: 20px;
            right: auto;
        }
    }
}
@media (max-width: 800px) {
    .loadingScreen .loadingBar{
        width: 400px;
    }
    body{
        height: 2500px;
        overflow: hidden;
        #app{
            position: fixed;
            top: 0;bottom: 0;right: 0;left: 0;
        }
        .menu{
            left: 20px;
            .menuAsteroid, .menuGalaxy, .menuCloud{
                display: none;
            } 
        }
        .article .skill{
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .asteroid, .cloud{
        .link{
            right: -50px;
            left: auto;
        }
    }
   
    .galaxy{
        .link{
            left: -50px;
            right: auto;
        }
    }
    @supports (-webkit-touch-callout: none) {
        .bottom, .absolute .flex{
            /* CSS specific to iOS devices */
            padding-bottom: 80px !important;
        }
    }
}
@media (max-width: 600px) {
    .homeButton{
        width: 300px;
        max-height: 54px;
        .btn-slice{
            max-height: 54px;
            font-size: 0.45rem;
            .top{
                top: 0px;
                overflow: visible;
            }
            .bottom{
                display: none;
            }
        }
    }
    .loadingScreen .loadingBar {
        width: 350px;
        
    }
    .loadingScreen .intro{
        margin-top: 100px;
        padding: 0 20px;
        p{
            font-size: 12px;
        }
    }
    .galaxy .container{
        margin-right: 0;
    }
    .asteroid, .cloud, .galaxy{
        .container{
            width: 90%;
            min-width: 300px;
        }
    }
    .asteroid, .cloud{
        .container{
            margin-left: 0;
        }
    }
    .asteroid, .cloud{
        .link{
            right: -80px;
            left: auto;
        }
    }
    .galaxy{
        .link{
            left: -80px;
            right: auto;
        }
    }
    .homeOverlay .head{
        h1{
            font-size: 26px;
        }
        h2{
            font-size: 10px;
        }
        p{
           font-size: 16px;
           span{
               font-size: 26px;
           }
       }
    }
    .homeOverlay .bottom{
        bottom: 45px;
    }
    .absolute{
        top: -50px;
        .oxy{
            h3{
                font-size: 10px;
            }
            .maskOxy {
                width: 150px;
            }
        }
    }
}